<template>
  <div class="container corrector pt-5">
    <h2 class="mb-5">Module correctors</h2>

    <div class="row">
      <div class="col">
        <textarea
          class="textToCorrect"
          placeholder="type a text to check "
          v-model="wordInput"
        >
        </textarea>
        <div>
          <button
            class="btn btn-success corrector__btnCheck"
            @click="checkErrors"
            :disabled="isLoading"
          >
            check
          </button>
        </div>

        <div class="corrector__suggestions">
          <Transition>
            <div class="corrector__suggestionInner" v-if="showSuggestion">
              <section v-html="wordOutput"></section>
              <div class="btns-group">
                <button
                  class="btn btn-primary mr-3 mt-3"
                  @click="showSuggestion = false"
                >
                  cancel
                </button>
                <button
                  disabled
                  class="btn btn-success mt-3"
                  @click="applyCorrection"
                >
                  apply
                </button>
              </div>
            </div>
          </Transition>
        </div>

        <!-- -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      wordInput: "",
      wordOutput: "",
      showSuggestion: false,
      isLoading: false,
    };
  },
  computed: {
    ...mapGetters("corrector", ["allErrors"]),
    wordInputOnArray() {
      return this.wordInput.split(" ");
    },
  },
  methods: {
    ...mapActions("corrector", ["fetchCorrections", "setInputs"]),
    async checkErrors() {
      this.wordOutput = "";
      this.showSuggestion = !this.showSuggestion;
      await this.setInputs(this.wordInput);
      await this.fetchCorrections();

      console.log("allErrors >> ", this.allErrors);
      let tmpInput = this.wordInput;
      this.allErrors.forEach((error) => {
        tmpInput = tmpInput.replace(
          error.word,
          this.getSuggestionOptions(error.word, error.suggestions)
        );
      });
      this.wordOutput = tmpInput;
    },
    getSuggestionOptions(word, suggestions) {
      let tmpSuggestions = `<option class="select-${word}" value="${word}" selected>${word}</option>`;
      suggestions.forEach((suggestion) => {
        tmpSuggestions += `<option value="${suggestion}">${suggestion}</option>`;
      });
      return `<select class="errorWord">${tmpSuggestions}</select>`;
    },
    applyCorrection() {},
    changeSelect() {
      console.log("changeSelect !! ");
    },
  },

  async mounted() {},
};
</script>

<style lang="scss">
.corrector {
  position: relative;
  textarea {
    width: 100%;
    min-height: 180px;
    border: $border-default;
    border-radius: $raduis * 2;
  }

  &__btnCheck {
    width: 100%;
    padding: 5px;
  }

  //--
  &__suggestions {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    .corrector__suggestionInner {
      background-color: #fff;
      border: $border-default;
      border-radius: $raduis * 2;
      padding: $gutter-base;
      box-shadow: $shadow-light;
      position: relative;
      min-height: 350px;
      top: 30px;
    }
    .v-enter-active,
    .v-leave-active {
      transform: translate(0%);
      transition: all 0.5s ease;
    }

    .v-enter-from,
    .v-leave-to {
      opacity: 0;
      transform: translate(-100%);
    }
    .btns-group {
      .btn:first-of-type {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  .errorWord {
    border: none;
    border-bottom: 3px solid red;
    appearance: none;
    outline: none;
    cursor: pointer;
  }
}

@media #{$bp-min-md} {
  .corrector {
    &__btnCheck {
      width: 33.33%;
    }
  }
}
</style>
