* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: $fz-default;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  text-align: justify;
  
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}



// icon svg de btsrtVue :
* > svg {
  width: 100%;
  height: 100%;
}

.btn, button {
  font-size: $fz-default;
}