<template>
  <div id="app">
    <CorrectorInput ref="corrector" />
  </div>
</template>

<script>
import CorrectorInput from "@/components/Modules/Corrector/CorrectorInput.vue";
export default {
  name: "App",
  components: { CorrectorInput },
};
</script>

<style lang="scss"></style>
